/**
 * ----------------
 * VARIABLES
 * ----------------
 */
/**
 * --------------
 * STYLES -------
 * --------------
 */
* {
  font-family: "Helvetica CE 35", "Segoe UI Light", "Arial Nova Thin", "Century Gothic Thin", Sans-serif;
  color: #545454;
  margin: 0; }

#container {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #container > div {
    height: 100vh; }
  #container #file-container, #container #pdf-container, #container #thumbnails-container {
    overflow: auto;
    height: calc(100vh - 40px); }

.file-header {
  height: 40px;
  padding: 7px 0 0 12px;
  box-sizing: border-box;
  background-color: #3c98ca;
  color: white;
  border-bottom: 2px solid #0c222e; }

#file-container {
  width: 20vw;
  min-width: 210px; }
  #file-container .fileItem {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px; }
    #file-container .fileItem img {
      width: 60%;
      height: 100%;
      min-width: 50px;
      max-width: 150px;
      margin: 5px auto 0 auto;
      border: 2px solid #3c98ca;
      box-sizing: border-box; }
    #file-container .fileItem .fileinfo {
      width: 40%;
      min-width: 80px;
      flex-grow: 1; }
      #file-container .fileItem .fileinfo .filename {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 18px;
        padding: 0 5px;
        margin-top: 5px;
        color: white;
        background-color: #3c98ca; }
    #file-container .fileItem:hover {
      cursor: pointer;
      margin-left: 20px;
      transition: margin-left .3s; }
    #file-container .fileItem:hover img, #file-container .fileItem.active img {
      border-color: #1C598E; }
    #file-container .fileItem:hover .fileinfo .filename, #file-container .fileItem.active .fileinfo .filename {
      background-color: #1C598E; }

#thumbnails {
  width: 20vw;
  flex-grow: 1; }

#pdf-viewer {
  width: 60vw;
  flex-grow: 0; }
