/**
 * ----------------
 * VARIABLES
 * ----------------
 */
$themeColour: #3c98ca;
$darkBlue: #1C598E;
$green: #3F7909;
$medGrey: #545454;
$darkRed: #b70000;

$navbarHeight: 40px;

/**
 * --------------
 * STYLES -------
 * --------------
 */
// GLOBAL
// -------------
* {
  font-family: "Helvetica CE 35", "Segoe UI Light", "Arial Nova Thin", "Century Gothic Thin", Sans-serif;
  color: $medGrey;
  margin: 0;
}


// CONTAINER
// --------------
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > div {
    height: 100vh;
  }
  #file-container, #pdf-container, #thumbnails-container {
    overflow: auto;
    height: calc(100vh - #{$navbarHeight});
  }
}

// --------------
// MODULES ------
// --------------
// GLOBAL ITEMS
.file-header {
  height: $navbarHeight;
  padding: 7px 0 0 12px;
  box-sizing: border-box;
  background-color: $themeColour;
  color: white;
  border-bottom: 2px solid darken($themeColour, 40%);
}
.canvasWrapper {
  position: relative;
}

// MODULE:: FILE EXPLORER
$fileItemMargin: 5px;
#file-explorer {
  width: 20vw;
  min-width: 210px;
  max-width: 300px;
  .fileItem {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $fileItemMargin;
    img {
      width: 60%;
      height: 100%;
      min-width: 50px;
      max-width: 150px;
      margin: 5px auto 0 auto;
      border: 2px solid $themeColour;
      box-sizing: border-box;
    }
    .fileinfo {
      width: 40%;
      min-width: 80px;
      flex-grow: 1;
      .filename {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 18px;
        padding: 0 5px;
        margin-top: $fileItemMargin;
        color: white;
        background-color: $themeColour;
      }
    }

    &:hover {
      cursor: pointer;
      margin-left: 20px;
      transition: margin-left .3s;
    }
    &:hover, &.active {
      img {
        border-color: $darkBlue;
      }
      .fileinfo .filename {
        background-color: $darkBlue;
      }
    }
  }
}

// MODULE:: PDF THUMBNAIL EXPLORER
#thumbnails {
  width: 20vw;
  max-width: 210px;
  .bookmark-count {
    position: absolute;
    top: 0;
    right: 0;
    &[data-prof-cnt]:before, &[data-student-cnt]:after {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      color: white;
      text-align: center;
      padding-top: 3px;
      box-sizing: border-box;
      right: 10px;
    }
    &[data-prof-cnt]:before {
      content: attr(data-prof-cnt);
      background-color: #E6B810;
    }
    &[data-student-cnt]:after {
      content: attr(data-student-cnt);
      background-color: #AD1313;
    }
  }
}
// MODULE:: PDF VIEWER
#pdf-viewer {
  width: 60vw;
  flex-grow: 1;
  .canvasWrapper {
    position: relative;
    .bookmarkBtn {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-size: 35px;
      opacity: .3;
      transition: opacity .3s;
      &:hover {
        opacity: 1;
        cursor: pointer;
        animation: bouncing .5s infinite alternate;
      }
      .fa {
        color: #545454;
        text-shadow: 0px 0px 5px white, 0px 0px 10px white;
      }
    } // end:: bookmarkBtn
    canvas:hover + .bookmarkBtn {
      opacity: .8;
    }
    &.booked .bookmarkBtn, .bookmarkBtn:hover {
      .fa {
        color: $darkRed;
      }
    }
  } // end:: canvasWrapper
}
@keyframes bouncing {
  0% {
    top: 25px;
  }
  100% {
    top: 15px;
  }
}


// DEMO PANEL
#demoPanel {
  position: fixed;
  opacity: .3;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  background-color: $themeColour;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
  }
  .input {
    margin: 2px 5px;
    border-radius: 3px;
    border: 0;
    padding: 5px 10px;
    font-size: 16px;
  }
  button {
    border: 2px solid white;
    background-color: $green;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 600;
    cursor: pointer;
  }
}


// MSG BOX
#msg {
  color: white;
  background-color: black;
  opacity: .7;
  border-radius: 7px;
  padding: 15px 25px;
  font-weight: 600;
  position: fixed;
  right: 15px;
  &.fadeIn {
    animation: fadeIn 5s;
    animation-fill-mode: forwards;
  }
}
@keyframes fadeIn {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  30% {
    bottom: 90px;
    opacity: .8;
  }
  70% {
    bottom: 90px;
    opacity: .8;
  }
  100% {
    bottom: -30px;
    opacity: 0;
  }
}
