/**
 * ----------------
 * VARIABLES
 * ----------------
 */
$themeColour: #3c98ca;
$darkBlue: #1C598E;
$medGrey: #545454;

$navbarHeight: 40px;

/**
 * --------------
 * STYLES -------
 * --------------
 */
// GLOBAL
// -------------
* {
  font-family: "Helvetica CE 35", "Segoe UI Light", "Arial Nova Thin", "Century Gothic Thin", Sans-serif;
  color: $medGrey;
  margin: 0;
}


// CONTAINER
// --------------
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > div {
    height: 100vh;
  }
  #file-container, #pdf-container, #thumbnails-container {
    overflow: auto;
    height: calc(100vh - #{$navbarHeight});
  }
}

// --------------
// MODULES ------
// --------------
// GLOBAL ITEMS
.file-header {
  height: $navbarHeight;
  padding: 7px 0 0 12px;
  box-sizing: border-box;
  background-color: $themeColour;
  color: white;
  border-bottom: 2px solid darken($themeColour, 40%);
}

// MODULE:: FILE EXPLORER
$fileItemMargin: 5px;
#file-container {
  width: 20vw;
  min-width: 210px;
  .fileItem {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $fileItemMargin;
    img {
      width: 60%;
      height: 100%;
      min-width: 50px;
      max-width: 150px;
      margin: 5px auto 0 auto;
      border: 2px solid $themeColour;
      box-sizing: border-box;
    }
    .fileinfo {
      width: 40%;
      min-width: 80px;
      flex-grow: 1;
      .filename {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 18px;
        padding: 0 5px;
        margin-top: $fileItemMargin;
        color: white;
        background-color: $themeColour;
      }
    }

    &:hover {
      cursor: pointer;
      margin-left: 20px;
      transition: margin-left .3s;
    }
    &:hover, &.active {
      img {
        border-color: $darkBlue;
      }
      .fileinfo .filename {
        background-color: $darkBlue;
      }
    }
  }
}

// MODULE:: PDF THUMBNAIL EXPLORER
#thumbnails {
  width: 20vw;
  flex-grow: 1;
}

// MODULE:: PDF VIEWER
#pdf-viewer {
  width: 60vw;
  flex-grow: 0;
}
